<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI_QLNguoiDung.Properties.Settings.DB_QLPQNGUOIDUNGConnectionString"
            connectionString="Server = DESKTOP-RJ31LKC; Database = DB_QLPQNGUOIDUNG; User ID = sa; Pwd = 123;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>